DATABASE_URL=""

BETTER_AUTH_SECRET=

BETTER_AUTH_URL=

TMDB_BEARER_TOKEN=

JWT_SECRET= 

NODE_ENV=development

FRONTEND_URL_PROD=https://critio.vercel.app
FRONTEND_URL_PROD=http://localhost:3000

DATABASE_URL="postgresql://neondb_owner:npg_AaJiwHQVRu38@ep-autumn-dust-ack8pbu7-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2MzN2M2Nzg5OTg2MGNkZDNiMWUzNmYyZTNjNmNjZiIsIm5iZiI6MTc1MjMyODU2My44NTUsInN1YiI6IjY4NzI2OTczZTQ2NzgzMGFhYzEwNTRkNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.KOT2P55LPUAtZTAnpKaYcDL0mU_yY4tIMnYEaSx-v9I

JWT_SECRET=laAlpacaLoca

NODE_ENV=development